# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
DerivedData/
xcuserdata/
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata

# Tooling
.vscode/
.idea/
